<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav *ngIf="isLoggedIn">
  <div class="d-flex justify-content-between bar">
<button class="btn btn-info button-hover" routerLink="/users">Utilizatori</button>
<button class="btn btn-info button-hover" routerLink="/groups">Grupuri</button>
<button class="btn btn-info button-hover" routerLink="/events">Evenimente</button>
<app-logout></app-logout>
</div>
</nav>
<main class="main">
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
  </div>
  </div>
</main>
