<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <nav class="navbar navbar-expand-sm bg-info">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="users" routerLinkActive="routerLinkActive" class="nav-link">See all users</a>
    </li>
    <li class="nav-item">
      <a routerLink="add-user" routerLinkActive="routerLinkActive" class="nav-link">Add user</a>
    </li>
  </ul>
</nav> -->
<main class="main">
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
  </div>
  </div>
</main>
<footer>
  <div class="footer">
    <div class="container text-center small">
      <span>Andrei Bianca-Filofteia, Licenta 2024</span><br>
      <span>Facultatea de Matematica si Informatica</span><br>
      <span>Universitatea din Bucuresti</span>
    </div>
  </div>
</footer>