<h5>User details</h5>
<div>
    <div>
        <label><b>Username: </b></label> {{user.username}}
    </div>
    <div>
        <label><b>Last Name: </b></label> {{user.lastName}}
    </div>
    <div>
        <label><b>First Name: </b></label> {{user.firstName}}
    </div>
    <div>
        <label><b>Email: </b></label> {{user.email}}
    </div>
    <div>
        <label><b>Birthday: </b></label> {{user.birthday}}
    </div>
    <div>
        <label><b>Group: </b></label> {{user.group !== null ? user.group.name : null}}
    </div>
</div>