<h5>User details</h5>
<div *ngIf="user !== undefined">
    <div>
        <label><b>Username: </b></label> {{user.username}}
    </div>
    <div>
        <label><b>Last Name: </b></label> {{user.lastName}}
    </div>
    <div>
        <label><b>First Name: </b></label> {{user.firstName}}
    </div>
    <div>
        <label><b>Email: </b></label> {{user.email}}
    </div>
    <div>
        <label><b>Birthday: </b></label> {{user.birthday}}
    </div>
    <div>
        <label><b>Group: </b></label> 
        <span *ngIf="isAccepted(user); else noGroup">{{user.groupName}}</span>
        <ng-template #noGroup><span>Momentan utilizatorul nu apartine niciunui grup</span></ng-template>
    </div>
    <div class="text-center" *ngIf="isOwner()">
        <button class="btn btn-primary" routerLink="/modifyDetails">Modifica detalii</button>
        <button class="btn btn-danger" (click)="deleteAccount()">Sterge cont</button>
    </div>
</div>