<div class="container mt-4" *ngIf="user != undefined">
    <div class="row">
      <div *ngFor="let group of groups" class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ group.grp.name }}</h5>
            <p class="card-text">{{ group.grp.description }}</p>
            <p class="card-text"><strong>Lider: </strong><span *ngIf="hasLeader(group.ldr)">{{group.ldr.username}}</span><span *ngIf="!hasLeader(group.ldr)">Grupul nu are niciun lider</span></p>
            <button (click)="viewUsers(group.grp.id, group.grp.name)" class="btn btn-primary">Vezi membri</button>
            <button class="btn btn-primary" style="margin-left: 15px;" *ngIf="!isAlreadyMember(group.grp.id) && !isAdmin()" (click)="sendJoinRequest(group.grp.id)">Alatura-te</button>
            <span class=".text-primary" style="margin-left: 15px;" *ngIf="user.joinStatus == 'PENDING' && user.groupName == group.grp.name">In asteptare...</span>
            <button (click)="deleteGroup(group.grp.id)" class="btn btn-outline-danger" *ngIf="isAdmin()">Sterge</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  