<app-logout></app-logout>
<h3 class="text-center" style="margin-top: 20px;">Utilizatori ai grupului {{groupName}}</h3>
<div class="row container" style="margin-top: 100px;" *ngIf="group != undefined">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let usr of users">
                    <td (click)="redirectToUser(usr.username)">{{usr.username}}</td>
                    <td>{{usr.firstName}}</td>
                    <td>{{usr.lastName}}</td>
                    <td *ngIf="usr.joinStatus=='PENDING' && isAdmin() && !isOwner(usr.username); else accepted">
                        <button class="btn btn-outline-success" (click)="acceptRequest(groupId, usr.id)">Accepta</button>
                        <button *ngIf="isAdmin() && !isOwner(usr.username)" class="btn btn-outline-danger" (click)="excludeRequest(usr.id)">Respinge</button>
                    </td>
                    <ng-template #accepted>
                        <td>
                            <button *ngIf="isAdmin() && !isOwner(usr.username)" (click)="excludeRequest(usr.id)" class="btn btn-outline-danger">Elimina</button>
                            <button *ngIf="isAdmin() && !isOwner(usr.username) && !isLeader(group.leaderId, usr.id)" (click)="changeLeader(groupId, usr.id)" class="btn btn-outline-info">Schimba in lider</button>
                            <button *ngIf="isAdmin() && !isOwner(usr.username) && isLeader(group.leaderId, usr.id)" (click)="removeLeader(groupId, usr.id)" class="btn btn-outline-info">Schimba in membru</button>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>